.navbar-link{
    text-decoration: none;
    font-size: 18px;
    color:white;
    padding:5px 15px;
    border:1px solid #31da8b;
    border-radius:5px;
    margin-left: 12px;
}
.navbar-link:hover{
    text-decoration: none;


}
.navContent{
    white-space: nowrap;
}
.navbar-link span{
    margin-left: 7px;
}
.main-role{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 900;
    color:#5F3C2A;
}
.active-button{
    border:2px solid #DABC98;
    background-color:#DABC98;
    color:white;
    font-weight: 600;
}
.active-button:hover{
     border:3px solid #DABC98;
    background-color:#DABC98;
    color:white;
    
}
.nav-con{
    margin-right: 2.6%;
}
.ready-button{
    border: 3px solid #DABC98;
    color:#DABC98;
}
.ready-button:hover{
    border: 3px solid #DABC98;
    color:#DABC98;
}
.nav-image-logo{
    width:30px;
}

@media screen and (max-width:786px) {
    .navContent,.btn-purple{
        font-size: 14px;
    }
    .active-button{
   
        color:white;
        font-weight: 600;
    }
    .nav-image-logo{
        width:25px;
    }
    .nav-con{
        margin-right: 5px;
    }
}
@media screen and (max-width:480px) {
    .navContent{
        font-size: 12px;
        padding:5px;
    }
    .main-role{
        margin-left: 4px;
        font-size: 18px;
        font-weight: 900;
    }
    .active-button{
  
        color:white;
        font-weight: 600;
    }
    .nav-con{
        margin-right: -3px;
    }
    .nav-image-logo{
        width:20px;
    }
    

}