@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
.big-card{
 width:99%;
 margin:15px auto 0 auto;
 background-color: white;
 border-radius:10px;
 padding:10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cursive{
  font-family: 'Merienda One', cursive;
}
.card{
  border-radius: 10px;
}
.pull-up{
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
   
  }
  .pull-up:hover{
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(black,.2);
    box-shadow: 0 14px 24px rgba(black,.2);
    z-index: 999;
  }

  .veg{
    display:inline-block;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:7px solid #31da8b !important;
    width:100%;
    padding:5px;
    
}
.nonVeg .btn-check{
  background-color:red;
}
.nonVeg .quantity{
  background-color: red;
  color: white;
}
.nonVeg .thumbsUp{
  color: #f83218;
}
.veg .quantity{
 background-color: #31da8b;
  color: white;
}
.nonVeg{
    padding:5px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:7px solid #f83218 !important;

}
.coffee{
    padding:5px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:7px solid #eec510 !important; 
}
.coffee .btn-check{
  background-color: #eec510;
}
.coffee .thumbsUp{
  color: #eec510;
}
.thumbsUp{
    display:none;
    position:absolute;
    right:13px;
    bottom:-6px;
    font-size: 28px;
    color:#31da8b;
}

.orderNumber{
  font-size: 18px;
  font-weight: 700;
}
.orderTime{
  font-size: 15px;
  color:grey;
  font-weight: 400;
}
.order-card-title{
  font-family: 'Merienda One', cursive;
 font-size:18px;
 font-weight: 700;
}
.avtar{
  width:70px;
   height:70px;
}
.card-header{
  border-bottom: 0;
}
.quantity{
  display:flex;
  position:absolute;
  width:30px;
  height:30px;
  background-color: #EFC410;
  color:#5C3706;
  border-radius: 50%;
  top:-15px;
  right:0;
  justify-content: center;
  align-items: center;
  font-weight: 900 !important;
   
}
.order-card-text{
  font-family: 'Merienda One', cursive;
  color: #017978;
  font-weight: 700;
}
.btn-check{
  /* width:58px; */

  padding:2px 5px;
  /* border:2px solid #86B7A0; */
  background-color:#31da8b;
  color:white;
  font-size: 14px;
  font-weight: 900;
}
.card-img-top{
  width:80px;
  height:80px;
  border-radius: 10px;
}
.btn-purple{
  background-color:#D1CBB9;
  color:#5C3706;
  font-weight: 600;
}
.btn-purple:focus{box-shadow: 0 0 0 0 !important;}

.prep-view{
  display:flex;
  justify-content: center;
  align-items: start;
}

@media only screen and (max-width: 786px) {
  .orderNumber{
    font-size: 16px;
  
  }
  .orderTime{
    font-size: 13px;
    color:grey;
    font-weight: 400;
  }
  .order-card-title{
   font-size:16px;
   font-weight: 700;
  }
  .order-card-text{
    font-size:14px;
    font-weight: 700;
  }
  .btn-info,.btn-secondary{
    font-size: 12px;
  }
  .quantity{
    width:25px;
    height:25px;
    font-size: 13px;
  }
  .card-img-top{
    width:70px !important;
    height:70px !important;
  }
  .btn-check{
    font-size: 12px;
  }
  
}
@media only screen and (max-width: 1024px) and (min-width: 767px)  {
  .card-img-top{
    width:65px !important;
    height:65px !important;
    margin-left:15px;
   
  }
  .main-card-text{
    padding-left:15px !important;
  }
  .order-card-title{
    font-size:14px;
    font-weight: 700;
   }
   .order-card-text{
     font-size:12px;
     font-weight: 700;
   }
}
@media only screen and (max-width: 1350px) and (min-width: 1200px){
  .card-img-top{
    width:70px !important;
    height:70px !important;
    margin-left:15px;
   
  }
}

@media only screen and (max-width: 480px) {
  .orderNumber{
    font-size: 14px;
  
  }
  .orderTime{
    font-size: 14px;
    color:grey;
    font-weight: 400;
  }
  .order-card-title{
   font-size:14px;
   font-weight: 700;
  }

  .btn-info,.btn-secondary{
    font-size: 12px;
  }
  .quantity{
    font-size: 12px;
  }
  .card-img-top{
    width:80px !important;
    height:80px !important;
  }
  .prep-view{
    display:flex;
    justify-content: end;
    align-items: start;
    padding-right: 0;
    right: -25px;
  }
 
}
@media only screen and (max-width: 500px){
  .avtar{
    display:none !important;
  }
}