.big-card{
 width:95%;
 margin:15px auto 0 auto;
 background-color: white;
 border-radius:5px;
 padding:10px;
}
.pull-up{
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
   
  }
  .pull-up:hover{
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(black,.2);
    box-shadow: 0 14px 24px rgba(black,.2);
    z-index: 999;
  }

  .veg{
    display:inline-block;
    border:2px solid #B6E6BD !important;
    width:100%;
    padding:5px;
    
}
.nonVeg{
    padding:5px;
    border:2px solid #F59A8E !important;

}
.coffee{
    padding:5px;
    border:2px solid #eec510 !important; 
}
.thumbsUp{
    display:none;
    position:absolute;
    right:13px;
    bottom:5px;
    font-size: 28px;
    color:#B6E6BD;
}

.orderNumber{
  font-size: 17px;
  font-weight: 600;
}
.orderTime{
  font-size: 15px;
  color:grey;
  font-weight: 400;
}
.order-card-title{
 font-size:18px;
 font-weight: 700;
}
.avtar{
  width:70px;
   height:70px;
}
.quantity{
  display:flex;
  position:absolute;
  width:30px;
  height:30px;
  background-color: #eec510;
  color:#5F3C2A;
  border-radius: 50%;
  top:-15px;
  right:0;
  justify-content: center;
  align-items: center;
  font-weight: 900;
   
}
.order-card-text{
  font-weight: 600;
}
.btn-check{
  position:absolute;
  bottom: -6px;
  right:8px;
  padding:2px 5px;
  /* border:2px solid #86B7A0; */
  background-color:#86B7A0;
  color:white;
  font-size: 20px;
  font-weight: 900;
}
  

@media only screen and (max-width: 786px) {
  .orderNumber{
    font-size: 14px;
  
  }
  .orderTime{
    font-size: 13px;
    color:grey;
    font-weight: 400;
  }
  .order-card-title{
   font-size:14px;
   font-weight: 700;
  }
  .order-card-text{
    font-size:12px;
    font-weight: 700;
  }
  .btn-info,.btn-secondary{
    font-size: 12px;
  }
  .quantity{
    font-size: 13px;
  }
  .card-img-top{
    width:70px !important;
    height:70px !important;
  }
  
}

@media only screen and (max-width: 480px) {
  .orderNumber{
    font-size: 12px;
  
  }
  .orderTime{
    font-size: 12px;
    color:grey;
    font-weight: 400;
  }
  .order-card-title{
   font-size:14px;
   font-weight: 700;
  }
  .nameCust{
    visibility: hidden;
  }
  .btn-info,.btn-secondary{
    font-size: 12px;
  }
  .quantity{
    font-size: 12px;
  }
  .card-img-top{
    width:80px !important;
    height:80px !important;
  }
}
