body{
 
  /* background-image: linear-gradient( #e99fd3, #F6F6F6, #FF8247); */
  /* background-image: linear-gradient(to right bottom, #e99fd3, #e6b1e0, #e4c3ea, #e6d3f0, #eae3f4, #ece0f5, #f0ddf5, #f4d9f4, #ffbfe0, #ffa4ba, #ff8d85, #ff8247); */
  /* background-size: cover; */
  background-color: #DABC98;

}
  
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track:vertical  {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb:vertical  {
  background-color: #ffcf8c;
  outline: 1px solid white;
  border-radius: 10px;
}